/build/windows-x86_64-normal-server-fastdebug/
/windows-x86_64-server-fastdebug/
/build/linux-x86_64-server-fastdebug/
/build/linux-x86_64-normal-server-fastdebug/
/cmake-build-debug/
/windows-x86_64-server-fastdebug/
/windows-x86_64-server-release/
/linux-x86_64-server-fastdebug/
/linux-x86_64-normal-server-fastdebug/
/cmake-build-debug/
/make.bak.jdk17/
/make.bak/
/make.bak2/